<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Demo Website" />
    <meta name="author" content="Nitish" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>Demo Website</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style type="text/css">
      html {
        position: relative;
        min-height: 100%;
      }

      body {
        margin-bottom: 60px;
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        height: 60px;
        line-height: 60px;
        background-color: #dbdbdb;
      }

      body > .container {
        padding: 60px 15px 0;
      }

      .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
      }

      code {
        font-size: 80%;
      }

      .bg-dark {
        background-color: #4e73df !important;
      }
    </style>
  </head>

  <body onLoad="setup();">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Demo Website</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container" style="margin-top:100px;">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <h3>Listen Emails:</h3>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <a
            href=""
            data-toggle="modal"
            data-target="#modalSubscriptionForm"
            style="float: right;"
            >Search</a
          >
        </div>
      </div>
      <!-- <h4>Sender: <label id="lblSender">0</label></h4>

      <audio
        id="audio1"
        src="/music/sender0.mp3"
        controls="controls"
        autoplay="autoplay"
        align=""
      ></audio> -->
      <hr />
      <h4>Email: <label id="lblName">0</label></h4>
      <audio
        id="audio2"
        src="/music/email0.mp3"
        controls="controls"
        autoplay="autoplay"
        align=""
      ></audio>
      <br />
      <input
        class="btn btn-primary"
        type="button"
        value="Next Email"
        onclick="play()"
      />

      <br />

      <!-- Trigger the modal with a button -->
      <div class="text-center"></div>
      <!-- <form action="/searchEmail" method="GET">
        <input type="text" name="name" />
        <input type="text" name="subject" />
        <input class="btn btn-primary" type="submit" value="Search" />
      </form> -->
    </div>
    <br />
    <br />
    <iframe src="http://localhost:3000/" style="width: 100%; height: 1000px;">
      <p>Your browser does not support iframes.</p>
    </iframe>
    <div
      class="modal fade"
      id="modalSubscriptionForm"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">
              Search by
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/searchEmail" method="GET">
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form3"
                  >Sender's name</label
                >
                <i class="fas fa-user prefix grey-text"></i>
                <input type="text" name="name" class="form-control validate" />
              </div>
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="form2"
                  >Subject</label
                >
                <i class="fas fa-envelope prefix grey-text"></i>
                <input name="subject" class="form-control validate" />
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <input class="btn btn-primary" type="submit" value="Search" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Demo Website 2019</span>
      </div>
    </footer>

    <script>
      var i = 0;
      var j = 0;
      var nextEmail = "";
      var nextSender = "";

      function setup() {
        //  debugger;
        // document.getElementById("audio2").addEventListener(
        //   "ended",
        //   function() {
        //     i++;
        //     if (i <= 4) {
        //       nextSender = "/music/sender" + i + ".mp3";
        //       // nextEmail = "/music/output" + i + ".mp3";
        //       audioPlayer1 = document.getElementById("audio1");
        //       document.getElementById("lblSender").innerHTML = i;
        //       console.log("Playing Sender Audio: " + i);
        //       audioPlayer1.src = nextSender;
        //       audioPLayer1.load();
        //       audioPlayer1.play();
        //       // audioPlayer.src = nextEmail;
        //     } else {
        //       i = 0;
        //       nextSender = "/music/sender" + i + ".mp3";
        //       // nextEmail = "/music/output" + i + ".mp3";
        //       audioPlayer1 = document.getElementById("audio1");
        //       document.getElementById("lblSender").innerHTML = i;
        //       audioPlayer1.src = nextSender;
        //       //audioPlayer.src = nextEmail;
        //       audioPLayer1.load();
        //       audioPlayer1.play();
        //     }
        //     console.log("End:");
        //   },
        //   false
        // );

        // document.getElementById("audio1").addEventListener(
        //   "ended",
        //   function() {
        //     j++;
        //     if ((i <= 4) & (j != 0)) {
        //       // nextSender = "/music/sender" + i + ".mp3";
        //       nextEmail = "/music/output" + i + ".mp3";
        //       audioPlayer2 = document.getElementById("audio2");
        //       document.getElementById("lblName").innerHTML = i;
        //       console.log("Playing Email Audio: " + i);
        //       // audioPlayer.src = nextSender;
        //       audioPlayer2.src = nextEmail;
        //       audioPLayer2.load();
        //       audioPlayer2.play();
        //     } else {
        //       i = 0;
        //       // nextSender = "/music/sender" + i + ".mp3";
        //       nextEmail = "/music/output" + i + ".mp3";
        //       audioPlayer2 = document.getElementById("audio2");
        //       document.getElementById("lblName").innerHTML = i;
        //       // audioPlayer.src = nextSender;
        //       audioPlayer2.src = nextEmail;
        //       audioPLayer2.load();
        //       audioPlayer2.play();
        //     }
        //     i++;
        //     console.log("End:");
        //   },
        //   false
        // );

        document.getElementById("audio2").addEventListener(
          "ended",
          function() {
            i++;
            if (i <= 5) {
              // nextSender = "/music/sender" + i + ".mp3";
              nextEmail = "/music/email" + i + ".mp3";
              audioPlayer2 = document.getElementById("audio2");
              document.getElementById("lblName").innerHTML = i;
              console.log("Playing Email Audio: " + i);
              // audioPlayer.src = nextSender;
              audioPlayer2.src = nextEmail;
              audioPLayer2.load();
              audioPlayer2.play();
            } else {
              i = 0;
              // nextSender = "/music/sender" + i + ".mp3";
              nextEmail = "/music/email" + i + ".mp3";
              audioPlayer2 = document.getElementById("audio2");
              document.getElementById("lblName").innerHTML = i;
              // audioPlayer.src = nextSender;
              audioPlayer2.src = nextEmail;
              audioPLayer2.load();
              audioPlayer2.play();
            }

            console.log("End:");
          },
          false
        );
      }
      var k = 0;
      function play() {
        k++;
        console.log(k);
        if (k < 2) {
          // nextSender = "/music/sender" + i + ".mp3";
          nextEmail = "/music/email" + k + ".mp3";
          audioPlayer2 = document.getElementById("audio2");
          document.getElementById("lblName").innerHTML = k;
          console.log("Playing Email Audio: " + k);
          // audioPlayer.src = nextSender;
          audioPlayer2.src = nextEmail;
          audioPLayer2.load();
          audioPlayer2.play();
        } else {
          k = 0;
          // nextSender = "/music/sender" + i + ".mp3";
          nextEmail = "/music/email" + k + ".mp3";
          audioPlayer2 = document.getElementById("audio2");
          document.getElementById("lblName").innerHTML = i;
          // audioPlayer.src = nextSender;
          audioPlayer2.src = nextEmail;
          audioPLayer2.load();
          audioPlayer2.play();
        }

        console.log("End:");
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
